@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#registerLeft {
    background: #283891;
    border-radius: 12px 0 0 12px;
    padding: 63px 0;
}



#registerPara {
    font-size: 20px !important;
    font-weight: 500;
}

#registerLeft img {
    width: 250px;
    height: 250px;
}