@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#registerLeft {
    background: #283891;
    border-radius: 12px 0 0 12px;
    padding: 63px 30px;
    width: 360px;
}


#registerLeft p {
    font-size: 23px !important;
    font-weight: 500;
}


#registerPara {
    font-size: 20px !important;
    font-weight: 500;
}

#registerLeft img {
    width: 270px;
    height: 270px;
    margin-top: 63px;
}


#registerRight label {
    font-size: 16px !important;
    font-weight: 500;
}


#registerRight {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 4px #ccc;
    padding: 0;
}

#termsContainer {
    width: 100%;
}