#organizations {
    background: url(./../../Assets/images/organisations-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 41vh 0;
}

#orgHead {
    font-weight: 600;
    font-size: 28px;
}


#growHead {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
}

#growPara {
    font-weight: 400;
    font-size: 16px;
}

#growBtn {
    font-weight: 600;
    font-size: 14px;
    width: 153px;
    height: 55px;
}

#organizations img {
    width: 100%;
    height: auto;
}

#joinGrowingBusinesses {
    position: relative;
    top: -9rem;
    padding: 72px 0;
}

#joinGrowingBusinesses p {
    padding-top: 32px;
    padding-bottom: 32px;
}