#whyChooseUs {
    background: linear-gradient(180deg, #FFFFFF 0%, #EBF8ED 27.4%, #EBF8ED 74.79%, #FFFFFF 100%);
    background-size: 100% 104%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 58px 0;
}

.sectionText {
    font-weight: 500;
    font-size: 16px;
    color: #6d747a;
}

#whyChooseUs h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #283891;
}

.whyChooseCardHeader {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    width: 234px;
    color: #08090A;
    margin-top: 30px;
}

.whyChooseCardParagraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #6D747A;
}

.whyChooseImg {
    width: 55%;
    height: auto;
}