.deal {
    width: 164px;
    height: 180px;
    padding-top: 32px;
    border: 1px solid #bfc3de;
}

.deal h5 {
    font-size: 14px;
    font-weight: 600;
}

.deal p {
    font-size: 12px;
    margin: 0;
}

#retail>div {
    height: 100%;
}

#retail {
    background-image: url("./../../Assets/images/retailpng.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-position-y: 185%;
    transition: all 500ms;
    cursor: pointer;
}

#angel {
    background-image: url("./../../Assets/images/angel-investor.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 122px;
    transition: all 500ms;
    background-position-x: 54px;
    cursor: pointer;
}

#retail.active {
    background-image: url("./../../Assets/images/retailpng.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-position-y: 104%;
    border: 1px solid #39B54A !important;
    color: #39B54A;
}

#angel.active {
    background-image: url("./../../Assets/images/angel-investor.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 99px;
    transition: all 500ms;
    background-position-x: 54px;
    border: 1px solid #39B54A !important;
    color: #39B54A;
}

#types {
    grid-gap: 0 60px;
}

#typeOfDeals h6 {
    font-size: 16px;
    font-weight: 500;
}