.deal {
    width: 185px;
    height: 193px;
    padding: 32px;
    border: 1px solid #bfc3de;
}

.deal h6 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

.deal p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

#retail>div {
    height: 100%;
}

#retail {
    background-image: url("./../../Assets/images/retailpng.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-position-y: 185%;
    transition: all 500ms;
    cursor: pointer;
}

#angel {
    background-image: url("./../../Assets/images/angel-investor.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 131px;
    transition: all 500ms;
    background-position-x: 54px;
    cursor: pointer;
}

#retail.active {
    background-image: url("./../../Assets/images/retailpng.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-position-y: 104%;
    border: 1px solid #18a62b !important;
    color: #18a62b;
}

#angel.active {
    background-image: url("./../../Assets/images/angel-investor.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 99px;
    transition: all 500ms;
    background-position-x: 54px;
    border: 1px solid #18a62b !important;
    color: #18a62b;
}

#types {
    grid-gap: 0 60px;
}

#typeOfDeals h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}