.h2 {
    font-size: 48px;
    font-weight: 600;
    color: #08090a;
}

.p {
    font-size: 18px;
    line-height: 30px;
    color: #6D747A
}

#h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#btnText {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 24px;
}

#btnText:hover {
    color: #283891;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header {
        padding: 16px 24px;
    }

    #logo {
        position: absolute;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #header {
        padding: 16px 123px;
    }

    #logo {
        position: absolute;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header {
        padding: 16px 68px;
    }

    #logo {
        position: static;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #header {
        padding: 16px 68px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #header {
        padding: 16px 68px;
    }
}