.h2 {
    font-size: 55px;
    font-weight: 600;
    color: #08090a;
}

.p {
    font-size: 18px;
    line-height: 30px;
    color: #6D747A
}

#h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}