.h2 {
    font-size: 48px;
    font-weight: 600;
    color: #08090a;
}

.p {
    font-size: 18px;
    line-height: 30px;
    color: #6D747A
}

#h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#btnText {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 24px;
}

#btnText:hover {
    color: #283891;
}

#header {
    padding: 0 68px !important;
}