.borderImg {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 1;
}

#insights {
    left: -8%;
    top: 53%;
}

#barchart {
    right: 2%;
    top: 11%;
}

.carContainer {
    position: relative;
    width: 493px;
    height: 493px;
}

#sliderContainer {
    box-shadow: 0 0 5px #ddd !important;
}