.borderImg {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 1;
}

#insights {
    left: -6.5%;
    top: 58%;
}

#barchart {
    right: 1.5%;
    top: 11%;
}

.carContainer {
    position: relative;
    width: 533px;
    height: 533px;
}

#sliderContainer {
    box-shadow: 0 0 5px #ddd !important;
    border-radius: 35px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carContainer {
        position: relative;
        width: 351px;
        height: 533px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carContainer {
        position: relative;
        width: 351px;
        height: 533px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carContainer {
        position: relative;
        width: 533px;
        height: 533px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carContainer {
        position: relative;
        width: 533px;
        height: 533px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carContainer {
        position: relative;
        width: 533px;
        height: 533px;
    }
}