#termsAndCondition {
    overflow-y: scroll;
    margin: 21px;
    padding: 24px;
    border-radius: 12px;
}


#termsAndCondition p {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

#termsAndCondition h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

#termsAndCondition h4 {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 8px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #registerRight {
        color: #000;
    }



    #termsContainer {
        height: 90vh;
    }

    #termsAndCondition {
        max-height: 55vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #termsContainer {
        height: 90vh;
    }

    #termsAndCondition {
        max-height: 351px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    #termsContainer {
        height: 100%;
    }

    #termsAndCondition {
        max-height: 425px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #termsAndCondition {
        max-height: 425px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #termsAndCondition {
        max-height: 425px;
    }
}