@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




input[name="method"] {
  accent-color: #3E4C9C;
  width: 20px;
  height: 20px;
}

input[type="radio"i]::before {
  width: 100px;
}

input[type="password"] {
  -webkit-text-security: none !important;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.bg-blue {
  background-color: #283891;
}

.bg-green {
  background-color: #39B54A;
}

.bg-secondary-blue {
  background: #E9EBF4;
}

section {
  margin: 100px 0;
}

.btn-secondary-blue {
  background-color: #E9EBF4;
  border: 1px solid #E9EBF4;
  border-radius: 8px;
  color: #283891;
  font-weight: 600;
}

.btn-secondary-blue:hover {
  border: 1px solid #283891 !important;
  background: transparent;
}

#hello {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 30px 0;
}

.active {
  color: #39B54A !important;
}

.nav-link {
  font-size: 18px !important;
}


.text-green {
  color: #39B54A;
  text-decoration: none;
  cursor: pointer;
}

.text-green:hover {
  color: #39B54A;
}

.btn-green {
  background-color: #39B54A;
  border: 2px solid #39B54A;
  color: #E9EBF4 !important;
  position: relative;
  z-index: 100;
}

.btn-green:focus {
  background-color: #39B54A;
  border: 2px solid #39B54A;
  color: #E9EBF4 !important;
}

.btn-green:hover {
  background-color: transparent;
  border: 2px solid #39B54A !important;
  color: #39B54A !important;
}

.sticky-top {
  padding: 13px 0;
}


.carousel-item {
  height: 100%;
}

.carousel {
  border-radius: 0 12px 12px 0;
}

.login-form {
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(134, 134, 134, 0.25);
}

#login {
  height: 100vh;
  display: flex;
  align-items: center;
}

.col-md-7 {
  padding: 0;
}

.carousel h1 {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 32px;
}

.carousel h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.carousel p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.carousel input[type="text"] {
  border-radius: 8px;
}

.carousel input[type="text"]:focus {
  outline: 1px solid #d9d9d9;
}

.btn-blue {
  background-color: #283891;
  padding: 16px 24px;
  color: white !important;
  border: 0;
  margin-top: 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid #283891;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.btn-blue.disabled {
  background-color: #9c9ad3 !important;
  border: none;
}

.btn-blue:hover {
  background-color: transparent;
  color: #283891 !important;
  border: 2px solid #283891 !important;
  transition: all 200ms;
}

.btn-blue:focus {
  background-color: #283891;
  color: #fff;
}

.btn-outline-blue {
  background-color: #fff;
  border: 2px solid #0F1F78;
  color: #0F1F78;

  border-radius: 8px;
  padding: 16px 0 !important;
  font-weight: 600 !important;
}

.btn-outline-blue:hover {
  background-color: #283891;
  color: white;
  border: 2px solid #283891;
  transition: all 200ms;
}

.text-blue {
  color: #283891;
}

.text-blue:hover {
  color: #283891;
  text-decoration: none;
}

.signUpLink {
  color: #283891;
}

.signUpLink:hover {
  text-decoration: none;
  color: #283891;
}

#loginImage {
  margin-top: 20px;
  height: 250px;
  width: 250px;
}

.carousel-control-next {
  position: relative !important;
  width: 100%;
  opacity: 1;
}

.carousel {
  width: 100%;
}

#error {
  color: #ff2a2a !important;
  font-weight: 500 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
  font-weight: 400 !important;
}

#testimonial .text-secondary {
  font-weight: 500;
}

#testimonial .nav .active {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(40, 56, 145, 0.2);
  border-radius: 16px;
}

#testimonial .active {
  color: #000 !important;
}


#testimonial .hr {
  width: 3px !important;
  height: 15px !important;
  margin: -2px !important;
  opacity: 100% !important;
  background-color: #283891;
}

.comment-name {
  border-right: 2px solid blue;
  font-weight: 600;
}

.bold {
  font-weight: 600 !important;
}

img.star {
  width: 18px;
}

#testimonial .comment {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 42px;
}

#login h1,
#login h6,
.fa-eye-slash {
  color: black;
}



header .position-absolute {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.swiper-slide {
  box-shadow: 0 0 100px #333;
  border-radius: 1rem;
}

.swiper {
  border-radius: 1rem;
  width: 100%;
}

.swiper-wrapper {
  border-radius: 1rem;
}

.disabled {
  background-color: #bfc3de !important;
  border-color: #bfc3de !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(150, 149, 149, 0.743);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}