@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.bg-blue {
  background-color: #283891;
}

.bg-secondary-blue {
  background: #E9EBF4;
}

section {
  margin: 100px 0;
}

.btn-secondary-blue {
  background-color: #E9EBF4;
  border: 2px solid #E9EBF4;
  border-radius: 8px;
  color: #283891;
}

.btn-secondary-blue:hover {
  border: 2px solid #283891;
  background: transparent;
}

#hello {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1%;
  font-weight: 600;
}

.active {
  color: #39B54A !important;
}

.nav-link {
  font-size: 18px !important;
}

.nav-item {
  padding: 0 16px;
}

#login-left {
  background: #283891;
  border-radius: 12px 0 0 12px;
  padding: 63px 0;
}

#login-left p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.text-green {
  color: #39B54A;
  text-decoration: none;
  cursor: pointer;
}

.text-green:hover {
  color: #39B54A;
}

.btn-green {
  background-color: #39B54A;
  border: 2px solid #39B54A;
  color: #E9EBF4 !important;
}

.btn-green:hover {
  border: 2px solid #39B54A;
  color: #39B54A !important;
}

#login-right {
  padding: 0;
  background-color: #F8F9FA;
}

.carousel-item {
  height: 100%;
}

.carousel {
  border-radius: 0 12px 12px 0;
  height: 100%;
}

#login-right p {
  margin-top: 18px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #000;
}

#emailOrPhone {
  margin-bottom: 16px;
}

.or {
  margin: 16px 0 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

#continue {
  margin: 0 !important;
}


#signUp {
  font-weight: 600 !important;
  font-size: 15px;
  margin-top: 16px !important;
}

.login-form {
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(134, 134, 134, 0.25);
}

#login {
  height: 100vh;
  display: flex;
  align-items: center;
}

.col-md-7 {
  padding: 0;
}

.carousel h1 {
  font-style: normal;
  font-weight: 900 !important;
  font-size: 24px;
  line-height: 32px;
}

.carousel h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.carousel p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.carousel input[type="text"] {
  border-radius: 8px;
}

.carousel input[type="text"]:focus {
  outline: 1px solid #d9d9d9;
}

.btn-blue {
  background-color: #283891;
  padding: 16px 0;
  color: white !important;
  border: 0;
  margin-top: 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid #283891;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: transparent;
  color: #283891 !important;
  border: 2px solid #283891;
  transition: all 200ms;
}

.btn-outline-blue {
  background-color: transparent;
  border: 2px solid #283891;
  color: #283891;
  border-radius: 8px;
  font-weight: 800;
  padding: 16px 0 !important;
}

.btn-outline-blue:hover {
  background-color: #283891;
  color: white;
  border: 2px solid #283891;
  transition: all 200ms;
}

.text-blue {
  color: #3D4B9B;
  cursor: pointer;
}

.text-blue:hover {
  color: #3D4B9B;
  text-decoration: none;
}

.signUpLink {
  color: #3D4B9B;
}

.signUpLink:hover {
  text-decoration: none;
  color: #3D4B9B;
}

#loginImage {
  margin-top: 20px;
  height: 250px;
  width: 250px;
}

.carousel-control-next {
  position: relative !important;
  width: 100%;
  opacity: 1;
}

.carousel {
  width: 100%;
}

.carousel-item {
  padding: 40px 56px;
}

#password {
  position: relative;
}

#eye {
  position: absolute;
  top: 30%;
  right: 4%;
  cursor: pointer;
}

#check {
  display: none;
}

.otp {
  width: 54px;
  height: 52px;
  text-align: center;
  font-size: 14px;
  border: 3px solid #d9d9d9;
}

.otp:focus {
  /* border: 3px solid #283891 */
}


#change {
  color: #283891;
  font-weight: 700;
}

#error {
  color: #ff2a2a !important;
  font-weight: 500 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
  font-weight: 400 !important;
}

header h2 {
  font-size: 48px;
  font-weight: 600;
}

header p {
  font-size: 18px;
  line-height: 30px;
  color: #6D747A
}

header .col-10 {
  position: relative;
}

.border-image {
  position: absolute;
  width: 100px;
  height: 100px;
}

#insights {
  left: -8%;
  top: 55%;
}

#bar-charts {
  right: -9%;
  top: 11%;
}



/* why-choose-us */

#why-choose-us h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #283891;
}

.why-choose-card h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.why-choose-card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}