#registerEmail h1 {
    font-size: 29px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
}

#registerEmail {
    padding-top: 16px;
    padding-left: 61px;
    padding-right: 96px;
    height: 100%;
}

#registerEmail h6 {
    font-size: 19px !important;
    font-weight: 500 !important;
}

#registerEmail input::-ms-input-placeholder {
    font-weight: 700 !important;
}

#or {
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
    margin: 12px 0;
}



#google {
    font-weight: 600 !important;
}

#signUp {
    font-weight: 600 !important;
    font-size: 15px;
    margin-top: 16px !important;
}