#registerEmail h1 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
}

#registerEmail {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 78px;
    height: 70vh;
}

#registerEmail h6 {

    font-size: 16px !important;
    font-weight: 500 !important;
}

#registerEmail input::-ms-input-placeholder {
    font-weight: 700 !important;
}

#or {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    margin: 12px 0;
}



#signUp {
    font-weight: 600 !important;
    font-size: 15px;
    margin-top: 16px !important;
}